extends layout.pug

block content
  .content.content--inner
    .row
      .col.col--sm-6.col--sm-offset-3
        h1.inner-h1 Контакты
        .row
          .col.col--sm-6
            .header.text-primary Почтовый адрес
            p 350020, РФ, Краснодарский край, г.Краснодар,ул.Рашпилевская, 179/1, оф. 810
          .col.col--sm-6
            .header.text-primary Юридический адрес
            p 352630, РФ, Краснодарский край, г.Белореченск, ул. Победы, 132
        .row
          .col.col--sm-6
            .header.text-primary Телефон
            p +7 (861) 278-50-08
          .col.col--sm-6
            .header.text-primary Телефон
            p (86155) 3-44-44