doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Juice
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
    script(src="js/wow.min.js")
    script.
      new WOW().init();
  body
    
    .bg

      .grid.grid--container

        header.main-header
          .row.row--sm-center
            .col.col--sm-5
              nav.navigation
                li.navigation__link: a(href="about.html") О бренде
                li.navigation__link: a(href="products.html") Вкусы
                li.navigation__link: a(href="news.html") Новости
            .col.col--sm-2.text--sm-center
              a(href="/").logo
            .col.col--sm-5
              nav.navigation
                li.navigation__link: a(href="video.html") Видео
                li.navigation__link: a(href="contacts.html") Контакты
                li.navigation__link: a(href="callback.html") Обратная связь



        main
          block content

        footer.main-footer
          .grid.grid--container
            .row
              .col.col--sm-6
                .webformula
                  span Создание сайта — 
                  a(href="") Webformula
              .col.col--sm-6
                .copyright
                  span Copyright © ООО "ЮЖНАЯ СОКОВАЯ КОМПАНИЯ"


    script(src="js/jquery.min.js")
    script(src="js/slick.min.js")
    script(src="js/main.js")