doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Juice
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
    script(src="js/wow.min.js")
    script.
      new WOW().init();
  body
    
    .bg

      .grid.grid--container

        header.main-header
          .row.row--sm-center
            .col.col--lg-5
              nav.navigation
                li.navigation__link: a(href="about.html") О бренде
                li.navigation__link: a(href="products.html") Вкусы
                li.navigation__link: a(href="news.html") Новости
            .col.col--lg-2.text--lg-center
              a(href="/juice").logo
            .col.col--lg-5
              nav.navigation
                li.navigation__link: a(href="video.html") Видео
                li.navigation__link: a(href="contacts.html") Контакты
                li.navigation__link: a(href="callback.html") Обратная связь
              .menu-open__open

        header.mobile-menu
          .text-center
            a(href="/").logo.logo--mobile
          .mobile-nav
            li.mobile-nav__link: a(href="about.html") О бренде
            li.mobile-nav__link: a(href="products.html") Вкусы
            li.mobile-nav__link: a(href="news.html") Новости
            li.mobile-nav__link: a(href="video.html") Видео
            li.mobile-nav__link: a(href="contacts.html") Контакты
            li.mobile-nav__link: a(href="callback.html") Обратная связь
          .social-icons.text-center
            a(href="").social-icon
              i.fa.fa-vk
            a(href="").social-icon
              i.fa.fa-facebook
            a(href="").social-icon
              i.fa.fa-odnoklassniki
            a(href="").social-icon
              i.fa.fa-instagram
            a(href="").social-icon
              i.fa.fa-youtube
          .mobile-menu__close



        main
          block content

        footer.main-footer
          .grid.grid--container
            .row
              .col.col--sm-12.mobile-socials
                .social-icons
                  a(href="").social-icon
                    i.fa.fa-vk
                  a(href="").social-icon
                    i.fa.fa-facebook
                  a(href="").social-icon
                    i.fa.fa-odnoklassniki
                  a(href="").social-icon
                    i.fa.fa-instagram
                  a(href="").social-icon
                    i.fa.fa-youtube
              .col.col--sm-6
                .webformula
                  span Создание сайта — 
                  a(href="") Webformula
              .col.col--sm-4.col--sm-offset-2
                .copyright
                  span Copyright © ООО "ЮЖНАЯ СОКОВАЯ КОМПАНИЯ"


        .float-social-icons
          .social-icons
            a(href="").social-icon
              i.fa.fa-vk
            a(href="").social-icon
              i.fa.fa-facebook
            a(href="").social-icon
              i.fa.fa-odnoklassniki
            a(href="").social-icon
              i.fa.fa-instagram
            a(href="").social-icon
              i.fa.fa-youtube


    script(src="js/jquery.min.js")
    script(src="js/slick.min.js")
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/main.js")