extends layout.pug

block content
  .content.content--inner
    .row
      .col.col--xl-10.col--xl-offset-1
        h1.inner-h1.inner-h1--type-2 Соки и нектары «Дары Кубани»
        time.time 02 марта 2017
        .text-primary.offset
          p В октябре 2016 года «ЮЖНАЯ СОКОВАЯ КОМПАНИЯ» выпускает на рынок новую торговую марку «Дары Кубани» — натуральные соки и нектары, вкус которых никого не оставит равнодушным.
          p Кубанское — значит качественное! Подобное мнение уже давно закрепилось в сознании покупателей на всей территории нашей большой страны. И оно справедливо. Краснодарский край — уникальный регион России с мягким климатом, продолжительным солнечным летом и плодородной землей, который заслужил звание главной российской житницы.
          p Кубанское — значит качественное! Подобное мнение уже давно закрепилось в сознании покупателей на всей территории нашей большой страны. И оно справедливо. Краснодарский край — уникальный регион России с мягким климатом, продолжительным солнечным летом и плодородной землей, который заслужил звание главной российской житницы.
          p Заместитель исполнительного директора по маркетингу Мария Горбачева рассказала читателям «Краснодар Magazine» о вкусах потребителей и ключевых ценностях нового бренда: «За 25 лет тренд покупательских предпочтений на соковом рынке значительно изменился. Если раньше в моде были иностранные производители, то сейчас покупатели отдают предпочтение российским брендам.
          p Приоритетом для них становится не только соотношение цены и качества, но и доверие производителю. Важно то, насколько бренд эмоционально совпадает с жизненными ценностями и установками покупателей. Каждый россиянин знает, что кубанские продукты — самые вкусные и натуральные. Предлагая в магазинах соки и нектары «Дары Кубани», мы даем возможность всем гостям Краснодарского края и жителям других регионов России попробовать наше кубанское качество и насладиться вкусными натуральными соками и нектарами, произведенными на Кубани.
        .row.offset
          .col.col--sm-12
            .social-share.social-share--news
              p Поделиться
              script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
              script(src="//yastatic.net/share2/share.js")
              .ya-share2(data-services="vkontakte,facebook,odnoklassniki" data-counter="")
          .col.col--sm-3
            a(href="").btn Все новости
          .col.col--lg-5.col--lg-offset-1.col--sm-7.col--sm-offset-2.btn-group
            a(href="").btn Предыдущая
            a(href="").btn Следующая
          .col.col--sm-3


