extends layout.pug

block content
  .content
    .row
      .col.col--xl-10.col--xl-offset-1
        h1.inner-h1 Рецепты
        -for(var i = 0; i < 5; i++)
          .inner-card
            .inner-card__img(style="background-image: url('img/recipe.jpg')")
            .inner-card__content
              .header.inner-card__header Панна-котта с желе из нектара апельсина и манго
              p Молоко 3,5% — 225 мл;
                br
                | Ванильный сахар — 50 г;
                br
                | Сливки 33% — 225 г;
                br
                | Желатин листовой — 10 г.
              a(href="").btn.inner-card__btn Узнать рецепт

        include pagination.pug

