extends layout.pug

block content
  .content.content--inner
    .row
      .col.col--xl-8.col--xl-offset-2
        h1.inner-h1 Видео
        -for(var i = 0; i < 2; i++)
          .video
            .video__title.header Присоединяйтесь к нам!
            a(href="#modal").open-modal
              .video__movie.video-link
                img(src="img/video.jpg", alt="")


  #modal.modal.video
    iframe(style="background-image:url(img/about-1.jpg)" src="https://www.youtube.com/embed/GBsj1if1a0w" frameborder="0" allowfullscreen)