clearfix()
  &:after
    content ""
    display table
    clear both

circle($size)
  height $size
  width $size

size($height, $width)
  height $height
  width $width

tasteChoise($name, $color)
  &.taste--{$name}
    &:before
      border 1px solid $color
    & .taste__name
      background-color $color