@media(min-width 1650px)
  .juice-pack
    bottom 51rem
    left 15rem
    height 58rem
    &.packs
      bottom 49rem
      height 53rem
      left 5rem
  .fruit
    left 8rem
    width 48rem
  .stump
    bottom 26rem
    height 35rem
    width 60rem
  .card--main
    top 24rem
  .card
    &--without-icons
      margin-top 4rem

@media(max-width 1500px)
  .juice-pack,
  .juice-pack.packs
    height 36rem
  .juice-pack.packs
    bottom 46rem
  .stump
    bottom 24rem
    left 2rem
    width 42rem
  .fruit
    bottom 43rem
    width 25rem
  .main-cards
    margin-top -5rem
  // .card
  //   &--main
  //     margin-left 5rem
  //     margin-top -11rem

@media(max-width 1350px)
  .grid--container
    max-width 98%
  .taste-choice
    padding-left 1rem
    padding-right 1rem
    .taste.active .taste__name
      font-size 1.1rem
  .float-social-icons
    display none
  .mobile-socials
    display block
  .main-footer
    height 15rem
    position initial
    padding-bottom 0
    margin 0



@media(max-width 1200px)
  .content
    padding 2rem

@media(max-width 1190px)
  .action
    &__left,
    &__right
      display block
  .content
    padding-top 3rem
  .action
    margin-left 0
  .taste-choice
    display none
  .main-cards
    margin-top -8rem
  .card
    &--main
      // margin-top -5rem
      top 12rem
      // margin-left 3rem
      // margin-top -9rem
    .header
      font-size 2.4rem
    &--without-icons
      margin-left 5rem
      top 22rem
  .juice-pack
    animation fadeLeftMobile 1s ease
    bottom 48rem
    &.packs
      bottom 45rem
  .fruit
    animation fadeLeftMobile 1.2s ease
  .juice-slider-nav
    .slide
      img
        &:hover
          transform scale(1.3)

@media(max-width 1000px)
  .bg
    background url('../../img/inner-bg.jpg')
    background-size cover
  .menu-open__open
    display block
  .main-header
    .navigation
      display none
  .card
    &--main
      display none !important
  .action
    height 70rem
    margin-top 0
  .juice-pack,
  .juice-pack.packs
    left 50%
    margin-left -9rem
    width 18rem
  .juice-pack.packs
    margin-left -17rem
    width 35rem
  .fruit
    left 50%
    margin-left -12.5rem
    width 25rem
  .stump
    left 50%
    margin-left -21rem
    width 42rem
  .cards
    &:last-child
      .card
        margin-bottom 4rem
      .col:last-child .card
        margin-bottom 0
  .float-img
    float none
    padding 0
    margin 0
    margin-top 2rem
    width 100%

@media(max-width 768px)
  .cards
    &:last-child
      .card
        margin-bottom 4rem
      .col:last-child .card
        margin-bottom 0
  .inner-card
    &__img
      border-radius $radius $radius 0 0
      float none
      width 100%
    &__content
      height initial
      padding 2rem
      width 100%
    &__btn
      position initial
  .juice-slider
    &__text
      order 3
      margin-top 5rem
  .small-packs--special
    margin-left 0
  .juice-slider-nav
    &-left,
    &-right
      top 35rem

@media(max-width 767px)
  .inner-h1
    font-size 4rem
  .content
    padding 2rem .5rem
    padding-top 3rem
  .mobile-menu
    .logo
      margin-bottom 1rem
      margin-top 2rem
  .mobile-nav
    &__link
      margin-bottom 1rem
  .card__img--bottom
    position relative
  .modal
    &.video
      max-width 90%
    iframe
      height 25rem

@media(max-width 500px)
  .juice-pack,
  .juice-pack.packs
    margin-left -14rem
    height 32rem
  .juice-pack
    margin-left -8rem
  .btn-group
    display block
    margin-top 1rem
    .btn
      margin-bottom 1rem


@media (max-height: 620px) and (min-width: 1300px)
  .juice-pack,
  .juice-pack.packs
    transform scale(.8) translateY(10%)
  .fruit
    transform scale(.8) translateY(10%)
  .stump
    transform scale(.8) translateY(-4%)
  .card.card--main
    display none !important

@media (max-height: 600px) and (min-width: 1300px)
  .juice-pack,
  .juice-pack.packs
    transform scale(.7) translateY(15%)
  .fruit
    transform scale(.7) translateY(15%)
  .stump
    transform scale(.8) translateY(-2%)

@media (max-height: 570px) and (min-width: 1300px)
  .juice-pack,
  .juice-pack.packs
    transform scale(.6) translateY(30%)
  .fruit
    transform scale(.6) translateY(30%)
  .stump
    transform scale(.8) translateY(0%)


@media screen and (min-width 1280px) and (max-width 1366px) and (min-height 625px) and (max-height 768px)
  .juice-pack, .juice-pack.packs
    bottom 45rem
    height 36rem
    padding 2rem
  .juice-pack.packs
    bottom 44rem
    left 3rem
  .card--main
    margin-top -13rem
  .card--without-icons
    margin-top -11rem
  .action
    margin-left 7rem


@media screen and (min-width 1200px) and (max-width 1300px) and (min-height 900px) and (max-height 1050px)
  .action
    height 78rem
  .juice-pack
    height 42rem
  .juice-pack.packs
    height 38rem


@media screen and (min-width 1860px) and (max-width 1920px) and (min-height 1050px) and (max-height 1200px)
  .card--main
    margin-top 12 rem
  .card--without-icons
    margin-top 22rem


@media screen and (min-width 1550px) and (max-width 1600px) and (min-height 850px) and (max-height 900px)
  .card--without-icons
    margin-top 6rem


@media screen and (min-width 1550px) and (max-width 1600px) and (min-height 1050px) and (max-height 1150px)
  .action
    margin-bottom -45rem
  .card--main
    margin-top 1rem
  .card--without-icons
    margin-top 6rem
  .juice-pack,
  .juice-pack.packs
    bottom 58rem
    left 15rem
    height 54rem
  .juice-pack.packs
    bottom 56rem
    left 5rem
  .fruit
    bottom 51rem
    left 15rem
    width 35rem
  .stump
    height 38rem
    width 60rem