@media(max-width 1370px)
  .grid--container
    max-width 96%
  .juice-pack,
  .fruit,
  .stump
    transform scale(.7)
  .stump
    bottom 3rem
  .juice-pack
    bottom 15rem
  .fruit
    bottom 19rem
    left 21rem

@media(max-width 767px)
  .content
    padding 1rem