.header,
.header--h1
  font-family 'Gill Sans Nova'
  line-height 1
  font-size 3.2rem
  margin 0
  margin-bottom 1.7rem
  width 100%

.header--h1
  color $primary
  font-size 5.8rem
  margin-bottom 5rem

.inner-h1
  color $primary
  font-family 'Gill Sans Nova'
  font-size 7.2rem
  font-weight 600
  line-height 1
  margin-bottom 6rem
  margin-top 1rem
  text-align center