@import './helpers/variables.styl'
@import './helpers/mixins.styl'
@import './base/animation.styl'
@import './base/base.styl'
@import './base/typography.styl'
@import './pages/index.styl'
@import './pages/inner.styl'



.grid--container
  max-width 1530px

.bg
  background-size cover
  // max-height 2300px

.primary
  color $primary

.main-header
  margin-bottom 10rem
  padding-top 5rem

.logo
  background url('../../img/logo.png') no-repeat
  background-size contain
  display inline-block
  height 11rem
  width 14rem

.navigation
  list-style-type none
  display flex
  justify-content space-around
  &__link
    display inline-block
    a
      color #fff
      font-family 'Gill Sans Nova'
      font-size 2.4rem
      font-weight 600
      text-decoration none
      text-transform uppercase
      &:hover
        color $primary

.flex-wrap
  flex-wrap wrap

.text-center
  text-align center

.btn
  background-color $primary
  border-radius $radius
  color #fff
  display inline-block
  font-size 1.4rem
  font-weight 600
  letter-spacing .5px
  line-height  4.2rem
  text-align center
  text-decoration none
  text-transform uppercase
  width 17rem

.main-footer
  color #fff
  margin-top 5rem
  padding-bottom 5rem
  a
    color #fff

@import './base/media.styl'